header {
  background: url(../images/desk_hero.jpg) center / cover;
  height: 60vh;
  justify-content: center;
  text-align: center;
  padding-top: 150px;
}

h1 {
  font-weight: bold;
}

#card {
  text-align: center;
  width: 100%;
}

.mdl-list__item {
  font-size: 1.4em;
}
